.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  border-bottom: 2px solid rgb(232, 232, 232);

  .menu-icon,
  .search-icon {
    font-size: 24px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 24px;
    font-weight: normal;

    .title-circle {
      background-color: #f8b400;
      border-radius: 50%;
      padding: 8px;

      p {
        color: white;
      }
    }
  }

  .search-icon {
  }

  .expanded {
    display: flex;
  }

  .search-icon.expanded {
    width: 180px; 
    display: flex; 
  }

  .search-input {
    display: none;
    top: 100%; 
    left: 0;
    width: inherit; 
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
    transition: all 0.2s ease-in-out;
  }

  .search-icon.expanded .search-input {
    display: block; 
  }

  .search-input:focus {
    outline: none; 
  }

  .header:not(:hover) .search-icon.expanded .search-input {
    display: none;
  }
}
