/* src/components/MovieCard.scss */
.movie-card {
  background-color: #fff;

  width: 200px;
  margin: 20px;

  overflow: hidden;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;

  border-radius: 5px;
}

.movie-info h3 {
  margin: 5px 0;
  font-size: 18px;
}

.movie-info p {
  color: #555;
}
